{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Easy Agro</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'vendor/css/materialize.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/master.css'%}">
    <link rel="stylesheet" href="{% static 'css/inicio.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <!-- Scripts -->
    <script src="{% static 'vendor/js/jquery.min.js'%}" charset="utf-8"></script>
    <script src="{% static 'vendor/js/materialize.js'%}" charset="utf-8"></script>

  </head>

  <body>

    <nav class="z-depth-0 nm-main-navbar">
      <div class="nav-wrapper">
        <div class="left grey-text text-darken-4 nm-user">
          <a href="{% url 'index' %}"><i class="material-icons">home</i></a>
          <div class="linea"></div>
          {% if admin %}
          <p>ADMIN</p>
          {% else %}
          <p>NORMAL</p>
          {% endif %}
        </div>

        <div class="col right nm-close">
  				<form class="" method="post">{% csrf_token %}
            <input type="text" name="salir" value="True" style="display:none" >
  				  <a class="z-depth-0" type="submit"><i class="material-icons">exit_to_app</i></a>
  				</form>
  			</div>
      </div>
    </nav>


    <section class="container">

      <div class="row center">

        <div class="col m12 s12 l8 offset-l2 nm-user-msg">
          <h3>¡Hola! <b>{{nombre}}.</b></h3>
          <p>Fecha </p>
          <p>Version: {{version}}</p>
        </div>

        <div class="row col m12 s12 l9 offset-l2 nm-central-menu">

          <div class="col m4 s4 l4">
            <div class="nm-square-menu nm-opt-dis"><a href=""><i class="material-icons">assignment</i>Corridas</a></div>
          </div>
          <div class="col m4 s4 l4">
            <div class="nm-square-menu nm-opt-dis"><a href=""><i class="material-icons">assignment_turned_in</i>Precios</a></div>
          </div>
          <div class="col m4 s4 l4">
            <div class="nm-square-menu nm-opt-dis"><a href=""><i class="material-icons">add_shopping_cart</i>Órdenes de compra</a></div>
          </div>
          <div class="col m4 s4 l4">
            <div class="nm-square-menu nm-opt-ready"><a href="{% url 'nuevaRecepcion' %}"><i class="material-icons">assignment</i>Realizar Recepcion</a></div>
          </div>
          <div class="col m4 s4 l4">
            <div class="nm-square-menu nm-opt-ready"><a href="{% url 'listaRecepcion' %}"><i class="material-icons">list</i>Ver mis recepciones</a></div>
          </div>
          <div class="col m4 s4 l4">
            <div class="nm-square-menu nm-opt-ready"><a href="{% url 'nuevaCorrida' %}"><i class="material-icons">assignment_turned_in</i>Realizar Corrida</a></div>
          </div>

        </div>

        <div class="col m12 s12 l8 offset-l2 pendientes">
          <ul class="collection with-header">
            <li class="collection-header">Pendientes hoy:</h4></li>

          </ul>

        </div>

        <div class="col m12 s12 l8 offset-l2 red lighten-2 problemas">
          <div class="texto">
            <i class="material-icons">report_problem</i>
            <h5>Reportar un problema</h5>
          </div>
          <div class="boton">
            <a class="waves-effect waves-light btn red darken-1">Aquí</a>
          </div>
        </div>

      </div>

    </section>

    <script type="text/javascript">
      // Initilize the toast function
      $(document).ready( function(){
        $('.tooltipped').tooltip({delay: 50});
        $( '.nm-user-msg p:nth-child(2)' ).html( date() );
      });
      $('.nm-opt-dis a').click( function(e){
        e.preventDefault();
        var toastContent = $('<span>Disponible próximamente.</span>');
        Materialize.toast(toastContent, 10000, 'black');
      });

      // Solution took from: https://stackoverflow.com/questions/12409299/how-to-get-current-formatted-date-dd-mm-yyyy-in-javascript-and-append-it-to-an-i?answertab=active#tab-top
      function date(){
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!

        var yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd;
        }
        if(mm<10){
            mm='0'+mm;
        }
        var today = dd+'/'+mm+'/'+yyyy;
        return today;
      }
    </script>

  </body>
</html>
