{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recepción</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>

  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <nav>
      <div class="nav-wrapper grey lighten-2">

        <div class="left grey-text text-darken-4 tipoUs">
          <a href="#" class="grey-text text-darken-4">Logo</a>
          <div class="linea"></div>
          {% if admin %}
          <p>Administrador</p>
          {% else %}
          <p>Personal</p>
          {% endif %}
        </div>

        <div class="col right salir">
  				<form class="" method="post">{% csrf_token %}
            <input type="text" name="salir" value="True" style="display:none" >
  				  <button class="btn waves-effect waves-light" type="submit">Salir</button>
  				</form>
  			</div>
      </div>
    </nav>

    <section class="container">


  		<div class="row center">

  			<div class="col l8 m12 s12 offset-l2 ">

          <form class="" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="select input-field col s12 m12 l12">
              <label for="">Peso Neto:</label>
              {{form.peso_neto}}
            </div>
            <div class="text input-field col s12 m12 l12">
              <label for="">Color:</label>
              {{form.color}}
            </div>
            <div class="text input-field col s12 m12 l12">
              <label for="">Cantidad:</label>
              {{form.cantidad}}
            </div>
            <div class="select input-field col s12 m12 l12">
              <label for="">Tamaño:</label>
              {{form.tamanio}}
            </div>
            <div class="text input-field col s12 m12 l12">
              <label for="">Alto:</label>
              {{form.alto}}
            </div>
            <div class="text input-field col s12 m12 l12">
              <label for="">Ancho:</label>
              {{form.ancho}}
            </div>
            <div class="text input-field col s12 m12 l12">
              <label for="">Largo:</label>
              {{form.largo}}
            </div>
            <button class="btn waves-effect waves-light" type="submit" method="post" value="Enviar">Enviar</button>
          </form>

  			</div>

  		</div>

  	</section>



    <script type="text/javascript">
      $(document).ready(function() {
        $('select').material_select();

        $("#view").click(function() {
              // do your stuff what you need.
              $('form').submit();
        });
      });
    </script>
  </body>
</html>
