{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recepción</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>

  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <nav>
      <div class="nav-wrapper grey lighten-2">

        <div class="left grey-text text-darken-4 tipoUs">
          <a href="{% url 'index' %}" class="logo"><img src="{% static "images/short-icon.png"%}" alt=""></a>
          <div class="linea"></div>
          {% if admin %}
          <p>Administrador</p>
          {% else %}
          <p>Personal</p>
          {% endif %}
        </div>

        <div class="col right salir">
  				<form class="" method="post">{% csrf_token %}
            <input type="text" name="salir" value="True" style="display:none" >
  				  <button class="btn waves-effect waves-light" type="submit">Salir</button>
  				</form>
  			</div>
      </div>
    </nav>

    <section class="container">


  		<div class="row center">
        <div class="col l10 m12 s12 offset-l1 left-align">
          <h1 class="titRec">Recepción<span>/limón</span></h1>
        </div>
  			<div class="col l10 m12 s12 offset-l1 ">
          <form id="caja" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="recepcion" value={{recepcion}}>
            <div class="divider"></div>
            <div class="section">
              <h5>Nueva Caja:</h5>

              <div class="select input-field col s12 m12 l12">
                <label for="">Peso Neto:</label>
                {{form.peso_neto}}
              </div>
              <div class="text input-field col s12 m12 l12">
                <label for="">Color:</label>
                {{form.color}}
              </div>
              <div class="text input-field col s12 m12 l12">
                <label for="">Cantidad:</label>
                {{form.cantidad}}
              </div>
              <div class="select input-field col s12 m12 l12">
                <label for="">Tamaño:</label>
                {{form.tamanio}}
              </div>
              <div class="text input-field col s12 m12 l12">
                <label for="">Alto:</label>
                {{form.alto}}
              </div>
              <div class="text input-field col s12 m12 l12">
                <label for="">Ancho:</label>
                {{form.ancho}}
              </div>
              <div class="text input-field col s12 m12 l12">
                <label for="">Largo:</label>
                {{form.largo}}
              </div>

            </div>

            <div class="col s12 m12 l6">
              <div class="divider"></div>
              <div class="section">
                <h5>Prueba 1</h5>
                <div class="text input-field col s12 m12 l12">
                  <label for="">Kilogramos:</label>
                  <input type="number" required name="kilogramos" id="kilogramos" value="" step="0.001">
                </div>
              </div>

              <div class="divider"></div>
              <div class="section">
                <h5>Prueba 2</h5>
                <div class="text input-field col s12 m12 l12">
                  <label for="">Kilogramos:</label>
                  <input type="number" required name="kilogramos1" id="kilogramos1" value="" step="0.001">
                </div>
              </div>

              <div class="divider"></div>
              <div class="section">
                <h5>Prueba 3</h5>
                <div class="text input-field col s12 m12 l12">
                  <label for="">Kilogramos:</label>
                  <input type="number" required name="kilogramos2" id="kilogramos2" value="" step="0.001">
                </div>
              </div>
            </div>

            <div class="col s12 m12 l6">
              <div class="divider"></div>
              <div class="section">
                <h5>Peso Neto</h5>
                <h3 class="totPeso" id="pesoTotal">---</h3>
              </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" value="Enviar">Enviar y Finalizar</button>
            <button class="btn waves-effect waves-light" type="submit" id="enviarCont" value="EnviarCont">Enviar y agregar caja</button>
          </form>

  			</div>

  		</div>

  	</section>

    <script type="text/javascript">
      $(document).ready(function() {
        $('select').material_select();
        $("#enviarCont").click(function(ev) {
          $('#caja').append("<input type=\"hidden\" name=\"sigue\" value=\"True\">")
        })
        $(document).on('submit','form',function(ev){
          if(ev.val()=="EnviarCont"){
            alert("Bien")
            $('#caja').append("<input type=\"hidden\" name=\"sigue\" value=\"True\">")
          }
        });

        $("input[name='kilogramos']").change(function(ev) {
          var prom = (Number(ev.target.value)+Number($("input[name='kilogramos1']").val())+Number($("input[name='kilogramos2']").val()))/3
          var total = Number($("input[name='cantidad']").val())*prom
          $("#pesoTotal").contents()[0].data=total.toFixed(2)
        })

        $("input[name='kilogramos1']").change(function(ev) {
          var prom = (Number(ev.target.value)+Number($("input[name='kilogramos']").val())+Number($("input[name='kilogramos2']").val()))/3
          var total = Number($("input[name='cantidad']").val())*prom
          $("#pesoTotal").contents()[0].data=total.toFixed(2)
        })

        $("input[name='kilogramos2']").change(function(ev) {
          var prom = (Number(ev.target.value)+Number($("input[name='kilogramos']").val())+Number($("input[name='kilogramos1']").val()))/3
          var total = Number($("input[name='cantidad']").val())*prom
          $("#pesoTotal").contents()[0].data=total.toFixed(2)
        })
        /*$("#enviarCont").click(function() {

            $('#caja').submit();
        })*/
      });
    </script>
  </body>
</html>
