{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recepción</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>

  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <nav>
      <div class="nav-wrapper grey lighten-2">

        <div class="left grey-text text-darken-4 tipoUs">
          <a href="{% url 'index' %}" class="logo"><img src="{% static "images/short-icon.png"%}" alt=""></a>
          <div class="linea"></div>
          {% if admin %}
          <p>Administrador</p>
          {% else %}
          <p>Personal</p>
          {% endif %}
        </div>

        <div class="col right salir">
  				<form class="" method="post">{% csrf_token %}
            <input type="text" name="salir" value="True" style="display:none" >
  				  <button class="btn waves-effect waves-light" type="submit">Salir</button>
  				</form>
  			</div>
      </div>
    </nav>

    <section class="container">


  		<div class="row center">
        <div class="col l10 m12 s12 offset-l1 left-align">
          <ul class="collection with-header">
            <li class="collection-header"><h4 class="titRec">Recepción<span>/limón</span></h4></li>
            {%for recepcion in recepciones%}
              <li class="collection-item">

                <div>
                  <span>{{recepcion.fecha}}</span>
                  <span>{{recepcion.productor}}</span>
                  {%if recepcion.status == "p"%}
                    <span>Pendiente</span>
                  {%elif recepcion.status == "r"%}
                    <span>Reposo</span>
                  {%elif recepcion.status == "c"%}
                    <span>Completada</span>
                  {%else%}
                    <span>Pagada</span>
                  {%endif%}
                  <a href="{% url 'modRecepcion' recepcion.idproducto %}" class="secondary-content">
                    <i class="material-icons">send</i>
                  </a>
                </div>

              </li>
            {%endfor%}
          </ul>
        </div>


  		</div>

  	</section>



    <script type="text/javascript">
      $(document).ready(function() {
        $('select').material_select();
      });
      $("#loc").change(function() {
        $("#filtro").submit();
      })
      $("#mun").change(function() {
        $("#filtro").submit();
      })
    </script>
  </body>
</html>
